@import '/frontend/src/app/globals.css';

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 5px;
    background: var(--slider-color);
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 16px;
    border-radius: 5px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    width: 15px;
    height: 25px;
    background-image: var(--slider-image);
    background-size: 15px 25px;
}

.text-field__label {
    margin-bottom: 0;
}

.text-price-from-container, .text-price-to-container {
    position: relative;
    display: inline-block;
}

.text-price-to-container {
    margin-left: 25px;
}

.text-price-to, .text-price-from, .text-prices {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.text-field__input {
    display: block;
    background-color: var(--text-field-input-color);
    padding: 0.375rem 0.45rem;
    width: 70px;
    height: 25px;
    border: 1px solid var(--text-color);
    border-radius: 0.25rem;
    margin-left: 6px;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .slider {
        width: 220px;
        margin-bottom: 20px;
    }

    .text-price-to, .text-price-from, .text-prices {
        margin-bottom: 2px;
    }

    .slider::-webkit-slider-thumb {
        width: 15px;
        height: 25px;
        background-size: 15px 25px;
    }

    .text-field__label {
        margin-bottom: 0;
    }

    .text-price-to-container {
        margin-left: 25px;
    }

    .text-field__input {
        width: 80px;
        height: 30px;
        margin-left: 6px;
    }
}

@media screen and (min-width: 1200px) {
    .slider {
        width: 220px;
        margin-bottom: 20px;
    }

    .text-price-to, .text-price-from, .text-prices {
        margin-bottom: 2px;
    }

    .slider::-webkit-slider-thumb {
        width: 15px;
        height: 25px;
        background-size: 15px 25px;
    }

    .text-field__label {
        margin-bottom: 0;
    }

    .text-price-to-container {
        margin-left: 25px;
    }

    .text-field__input {
        width: 80px;
        height: 30px;
        margin-left: 6px;
    }
}