@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Zhizn';
    src: local('Zhizn'),
    url('../fonts/Zhizn.ttf') format('truetype');
}

:root {
    --theme-image-light: url("../../public/img/light-theme/moon-icon.png");
    --theme-image-dark: url("../../public/img/dark-theme/sun-icon.png");
    --font-family: 'Zhizn', serif;
    --places-small-image: url("../../public/img/dark-theme/story-places-small.png");
    --places-midlle-image: url("../../public/img/dark-theme/story-places-midlle.png");
    --places-big-image: url("../../public/img/dark-theme/story-places-big.png");
    --price-small-image: url("../../public/img/dark-theme/story-price-small.png");
    --price-midlle-image: url("../../public/img/dark-theme/story-price-midlle.png");
    --price-big-image: url("../../public/img/dark-theme/story-price-big.png");

    --checked-checklist-color: #838383;
    --document-image: url("../../public/img/light-theme/document.png");
    --background-color: #FFFFFF;
    --text-color: #000000;
    --checkbox-image: url("../../public/img/light-theme/checkbox-icon.png");
    --accent-color: #8D7DFF;
    --direction-text-color: #FFFFFF;
    --checkbox-check-image: url("../../public/img/light-theme/checkbox-check-icon.png");
    --button-image: url("../../public/img/light-theme/button.png");
    --slider-image: url("../../public/img/light-theme/slider.png");
    --text-direction-color: #000000;
    --direction-image: url("../../public/img/light-theme/direction-icon.png");
    --theme-image: url("../../public/img/light-theme/moon-icon.png");
    --navigarion-image: url("../../public/img/light-theme/navigation-icon.png");
    --theme-image-width: 24px;
    --check-mark-image: url("../../public/img/light-theme/check-mark.png");
    --sorting-image: url("../../public/img/light-theme/sorting-icon.png");
    --radio-image: url("../../public/img/light-theme/radio-icon.png");
    --radio-check-image: url("../../public/img/light-theme/radio-check-icon.png");
    --text-field-input-color: #ffffff;
    --color-shadow: #7a7a7a;
    --question-border-color: #d0d0d0;
    --slider-color: #d0d0d0;
    --story-card: url("../../public/img/light-theme/update-story-icon.png");
    --timeline-color: #d0d0d0;
    --coast-story: url("../../public/img/light-theme/coast-story.png");
    --places-story: url("../../public/img/light-theme/places-story.png");
    --viewed-coast-story: url("../../public/img/light-theme/viewed-coast-story.png");
    --viewed-places-story: url("../../public/img/light-theme/viewed-places-story.png");
    --door1: url("../../public/img/light-theme/door1.png");
    --door2: url("../../public/img/light-theme/door2.png");
    --door3: url("../../public/img/light-theme/door3.png");
    --door4: url("../../public/img/light-theme/door4.png");
    --door5: url("../../public/img/light-theme/door5.png");
    --door6: url("../../public/img/light-theme/door6.png");
    --door7: url("../../public/img/light-theme/door7.png");
    --door8: url("../../public/img/light-theme/door8.png");
    --door9: url("../../public/img/light-theme/door9.png");
    --door10: url("../../public/img/light-theme/door10.png");
    --door0: url("../../public/img/light-theme/door0.png");
    --link-color: #4900c7;
    --story-places-small-color: #000000;

}

[data-theme='light'] {
    --background-color: #FFFFFF;
    --text-color: #000000;
    --text-direction-color: #000000;
    --direction-image: url("../../public/img/light-theme/direction-icon.png");
    --theme-image: url("../../public/img/light-theme/moon-icon.png");
    --navigarion-image: url("../../public/img/light-theme/navigation-icon.png");
    --theme-image-width: 24px;
    --check-mark-image: url("../../public/img/light-theme/check-mark.png");
    --sorting-image: url("../../public/img/light-theme/sorting-icon.png");
    --radio-image: url("../../public/img/light-theme/radio-icon.png");
    --radio-check-image: url("../../public/img/light-theme/radio-check-icon.png");
    --checkbox-image: url("../../public/img/light-theme/checkbox-icon.png");
    --checkbox-check-image: url("../../public/img/light-theme/checkbox-check-icon.png");
    --button-image: url("../../public/img/light-theme/button.png");
    --slider-image: url("../../public/img/light-theme/slider.png");
    --text-field-input-color: #ffffff;
    --color-shadow: #7a7a7a;
    --question-border-color: #d0d0d0;
    --slider-color: #d0d0d0;
    --story-card: url("../../public/img/light-theme/update-story-icon.png");
    --timeline-color: #d0d0d0;
    --coast-story: url("../../public/img/light-theme/coast-story.png");
    --places-story: url("../../public/img/light-theme/places-story.png");
    --viewed-coast-story: url("../../public/img/light-theme/viewed-coast-story.png");
    --viewed-places-story: url("../../public/img/light-theme/viewed-places-story.png");
    --checked-checklist-color: #838383;
    --document-image: url("../../public/img/light-theme/document.png");
    --door1: url("../../public/img/light-theme/door1.png");
    --door2: url("../../public/img/light-theme/door2.png");
    --door3: url("../../public/img/light-theme/door3.png");
    --door4: url("../../public/img/light-theme/door4.png");
    --door5: url("../../public/img/light-theme/door5.png");
    --door6: url("../../public/img/light-theme/door6.png");
    --door7: url("../../public/img/light-theme/door7.png");
    --door8: url("../../public/img/light-theme/door8.png");
    --door9: url("../../public/img/light-theme/door9.png");
    --door10: url("../../public/img/light-theme/door10.png");
    --link-color: #4900c7;
    --story-places-small-color: #000000;
}

[data-theme='dark'] {
    --background-color: #1A1A1A;
    --text-color: #E1E3E7;
    --text-direction-color: #1A1A1A;
    --direction-image: url("../../public/img/dark-theme/direction-icon.png");
    --theme-image: url("../../public/img/dark-theme/sun-icon.png");
    --navigarion-image: url("../../public/img/dark-theme/navigation-icon.png");
    --theme-image-width: 32px;
    --check-mark-image: url("../../public/img/dark-theme/check-mark.png");
    --sorting-image: url("../../public/img/dark-theme/sorting-icon.png");
    --radio-image: url("../../public/img/dark-theme/radio-icon.png");
    --radio-check-image: url("../../public/img/dark-theme/radio-check-icon.png");
    --checkbox-image: url("../../public/img/dark-theme/checkbox-icon.png");
    --checkbox-check-image: url("../../public/img/dark-theme/checkbox-check-icon.png");
    --button-image: url("../../public/img/dark-theme/button.png");
    --slider-image: url("../../public/img/dark-theme/slider.png");
    --text-field-input-color: #232323;
    --color-shadow: #000000;
    --question-border-color: #5d5d5d;
    --slider-color: #E1E3E7;
    --story-card: url("../../public/img/dark-theme/update-story-icon.png");
    --timeline-color: #5d5d5d;
    --coast-story: url("../../public/img/dark-theme/coast-story.png");
    --places-story: url("../../public/img/dark-theme/places-story.png");
    --viewed-coast-story: url("../../public/img/dark-theme/viewed-coast-story.png");
    --viewed-places-story: url("../../public/img/dark-theme/viewed-places-story.png");
    --checked-checklist-color: #989898;
    --document-image: url("../../public/img/dark-theme/document.png");
    --link-color: #8D7DFF;
    --story-places-small-color: #E1E3E7;
}

body {
    background-color: var(--background-color);
}

