@import '/frontend/src/app/globals.css';

.spinner {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: center;
    margin-top: 30vh;
}

.spinner-text {
    font-family: var(--font-family);
    font-size: 16px;
    color: var(--text-color);
    position: relative;
    top: 60px;
    right: 70px;
}

@media screen and (min-width: 730px) {
    .spinner-text {
        font-size: 20px;
        right: 75px;
    }
}