@import '/frontend/src/app/globals.css';


@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.direction-cards {
    overflow: hidden;
    font-family: var(--font-family);
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}

.direction-card {
    animation: fade 0.8s ease forwards;
    margin: 3px;
    width: 170px;
    height: 110px;
    color: var(--text-direction-color);
    position: relative;
    display: inline-block;
}

.direction-card--image {
    width: 170px;
    height: 110px;
    background-image: var(--direction-image);
    background-size: 170px 110px;
}

.direction-card--description {
    flex-direction: column;
    display: flex;
    top: 8px;
    left: 16px;
    position: absolute;
}

.direction-card--abbreviation {
    font-size: 25px;
    width: 135px;
    display: inline-block;
}

.direction-card--abbreviationDecoding {
    font-size: 8px;
    width: 135px;
    display: inline-block;
    margin-top: -5px;
    line-height: 8px;
}

.direction-card---price {
    position: absolute;
    top: 8px;
    right: 16px;
    flex-direction: column;
    display: flex;
}

.direction-card---value {
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

.direction-card---currency {
    display: inline-block;
    font-size: 10px;
    margin-top: -5px;
    text-align: center;
}

.direction-card--places {
    flex-direction: column;
    position: absolute;
    display: flex;
}

.direction-card--places-content {
    font-size: 10px;
    position: absolute;
    bottom: 8px;
    left: 16px;
    line-height: 15px;
}

.direction-card--places-budget {
    display: inline-block;
    width: 75px;
    font-size: 10px;
    position: relative;
    top: -4px;
}

.direction-card--places-paid {
    display: inline-block;
    width: 72px;
    font-size: 10px;
    position: relative;
    top: -4px;
}

.direction-card-place-value {
    font-size: 14px;
    display: inline-block;
    margin-left: -2px;
}

.empty-directions-text {
    font-family: var(--font-family);
    font-size: 14px;
    color: var(--text-color);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .direction-card {
        margin: 3px;
        width: 230px;
        height: 150px;
    }

    .direction-card--image {
        width: 230px;
        height: 150px;
        background-size: 230px 150px;
    }

    .direction-card--description {
        top: 12px;
        left: 16px;
    }

    .direction-card--abbreviation {
        font-size: 32px;
        width: 210px;
    }

    .direction-card--abbreviationDecoding {
        font-size: 12px;
        width: 200px;
        line-height: 12px;
    }

    .direction-card---price {
        top: 12px;
    }

    .direction-card---value {
        font-size: 18px;
    }

    .direction-card---currency {
        font-size: 12px;
    }

    .direction-card--places-content {
        font-size: 14px;
        bottom: 12px;
        line-height: 20px;
    }

    .direction-card--places-budget {
        width: 100px;
        font-size: 14px;
    }

    .direction-card--places-paid {
        width: 90px;
        font-size: 14px;
    }

    .direction-card-place-value {
        font-size: 18px;
    }

    .empty-directions-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .direction-card {
        margin: 10px;
        width: 260px;
        height: 180px;
    }

    .direction-card--image {
        width: 260px;
        height: 180px;
        background-size: 260px 180px;
    }

    .direction-card--description {
        top: 12px;
        left: 16px;
    }

    .direction-card--abbreviation {

        font-size: 45px;
        width: 240px;
    }

    .direction-card--abbreviationDecoding {
        font-size: 14px;
        width: 240px;
        line-height: 15px;
        top: -4px;
        position: relative;
    }

    .direction-card---price {
        top: 16px;
        right: 20px;
        line-height: 20px;
    }

    .direction-card---value {
        font-size: 20px;
    }

    .direction-card---currency {
        font-size: 14px;
    }

    .direction-card--places-content {
        font-size: 16px;
        bottom: 12px;
        line-height: 25px;
        left: 20px;
    }

    .direction-card--places-budget {
        width: 120px;
        font-size: 16px;
    }

    .direction-card--places-paid {
        width: 110px;
        font-size: 16px;
    }

    .direction-card-place-value {
        font-size: 20px;
    }

    .empty-directions-text {
        font-size: 18px;
    }
}