@import '/frontend/src/app/globals.css';

.doors {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0;
    margin-left: -80px;
}

.door {
    display: inline-block;
    width: 220px;
    height: 320px;
    background-size: 220px 320px;
}

.door1 {
    background-image: var(--door1);
}

.door2 {
    background-image: var(--door1);
}

.door1:hover {
    background-image: var(--door2);
}

.door2:hover {
    background-image: var(--door2);
}

.door1-loading {
    background-image: var(--door10);
    animation: loading1 0.8s infinite;
}

.door2-loading {
    background-image: var(--door10);
    animation: loading1 0.8s infinite;
}

.doors-text {
    margin-top: 100px;
    font-family: var(--font-family);
    font-size: 35px;
    text-align: center;
}

@keyframes loading1 {
    from {
        background-image: var(--door2);
    }
    14% {
        background-image: var(--door3);
    }
    28% {
        background-image: var(--door5);
    }
    42% {
        background-image: var(--door6);
    }
    56% {
        background-image: var(--door7);
    }
    70% {
        background-image: var(--door8);
    }
    84% {
        background-image: var(--door9);
    }
    to {
        background-image: var(--door10);
    }
}
