@import '/frontend/src/app/globals.css';

.background-stories {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    opacity: 1;
    z-index: 100;
    overflow: hidden;
}

.player {
    background-color: var(--background-color);
    width: 350px;
    margin: 20px auto;
    color: var(--text-color);
    z-index: 1000;
    opacity: 1;
    height: 100%;
}

.timeline {
    display: flex;
    margin: 5px;
}

.timeline-chunk {
    background-color: var(--timeline-color);
    width: 100%;
    height: 2.5px;
    border-radius: 2px;
}

.timeline-chunk + .timeline-chunk {
    margin-left: 5px;
}

.timeline-chunk-inner, .timeline-chunk-inner-active {
    width: 0;
    height: inherit;
    background-color: var(--text-color);
    border-radius: inherit;
}

@keyframes widthReset {
    to {
        width: 0;
    }
}

.timeline-chunk-inner-active {
    animation: widthReset 0.001s ease;
    transition: 1s linear;
}

.player-content {
    position: relative;
    height: 100%;
}

.player-chunk {
    display: none;
}

.player-chunk-active {
    display: block;
}

.player-chunk-switcher {
    position: absolute;
    width: 30%;
    z-index: 90;
    height: 100%;
}

.story-content {
    font-family: var(--font-family);
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.player-chunk-prev {
    top: 0;
    left: 0;
}

.player-chunk-next {
    top: 0;
    right: 0;
}

.cross {
    position: absolute;
    cursor: pointer;
    right: 8px;
    top: 3px;
    color: var(--text-color);
    font-size: 20px;
    z-index: 100;
}

.story-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.story-card {
    margin-left: 16px;
    text-align: center;
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 18px;
    font-family: var(--font-family);
    cursor: pointer;
}

.story-card--image {
    line-height: 100px;
    width: 100px;
    height: 100px;
    background-size: 100px;
}

.story-0 {
    background-image: var(--coast-story);
}

.story-1 {
    background-image: var(--places-story);
}

.story-2 {
    background-image: var(--coast-story);
}

.viewed-story-0 {
    background-image: var(--viewed-coast-story);
}

.viewed-story-1 {
    background-image: var(--viewed-places-story);
}

.viewed-story-2 {
    background-image: var(--viewed-coast-story);
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .player {
        width: 650px;
    }

    .cross {
        font-size: 30px;
    }

    .story-card {
        width: 130px;
        height: 130px;
    }

    .story-card--image {
        line-height: 130px;
        width: 130px;
        height: 130px;
        background-size: 130px;
    }

    .story-button {
        width: 260px;
        height: 50px;
        background-size: 260px 50px;
        font-size: 20px;
        line-height: 50px;
    }
}

@media screen and (min-width: 1200px) {
    .player {
        width: 1100px;
    }

    .cross {
        right: 8px;
        top: 3px;
        font-size: 30px;
    }

    .story-card {
        width: 130px;
        height: 130px;
    }

    .story-card--image {
        line-height: 130px;
        width: 130px;
        height: 130px;
        background-size: 130px;
    }
}
