@import '/frontend/src/app/globals.css';

.places_image {
    width: 350px;
    height: 550px;
    background-image: var(--places-small-image);
    background-size: 350px 550px;
    overflow: hidden;
    position: relative;
    bottom: -110px;
}

.places-content {
    color: var(--text-color);
    font-family: var(--font-family);
}

.direction-container {
    position: absolute;
    top: 20px;
    left: 5px;
    display: flex;
    width: 340px;
    justify-content: center;
    z-index: 20;
}

.direction-course {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: end;
    align-content: end;
}

.direction {
    display: inline-block;
    font-size: 55px;
    z-index: 30;
}

.course {
    display: inline-block;
    font-size: 25px;
    z-index: 20;
    position: relative;
    bottom: 15px;
}

.transcript {
    position: absolute;
    top: 115px;
    left: 10px;
    font-size: 18px;
    z-index: 20;
    text-align: center;
}

.budget-text {
    color: var(--text-color);
    position: absolute;
    font-family: var(--font-family);
    font-size: 30px;
    top: 288px;
    z-index: 10;
    left: 20px;
}

.paid-text {
    color: var(--text-color);
    position: absolute;
    font-family: var(--font-family);
    font-size: 30px;
    top: 369px;
    z-index: 10;
    left: 20px;
}

.budget-numbers {
    color: var(--text-color);
    position: absolute;
    display: flex;
    top: 288px;
    left: 160px;
    flex-direction: column;
    font-family: var(--font-family);
    z-index: 10;
}

.paid-numbers {
    color: var(--text-color);
    position: absolute;
    display: flex;
    top: 369px;
    left: 160px;
    flex-direction: column;
    font-family: var(--font-family);
    z-index: 10;
}

.budget-place-after {
    display: inline-block;
    font-size: 30px;
}

.budget-place-before {
    display: inline-block;
    color: var(--checked-checklist-color);
    text-decoration: line-through;
    font-size: 25px;
    margin-top: -10px;
}

.paid-place-after {
    display: inline-block;
    font-size: 30px;
}

.paid-place-before {
    display: inline-block;
    color: var(--checked-checklist-color);
    text-decoration: line-through;
    font-size: 25px;
    margin-top: -10px;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .places_image {
        position: relative;
        bottom: -10px;
        right: 60px;
        width: 750px;
        height: 750px;
        background-image: var(--places-midlle-image);
        background-size: 750px 750px;
    }

    .direction-container {
        top: 55px;
        left: 220px;
        width: 400px;
    }

    .direction {
        font-size: 80px;
    }

    .course {
        font-size: 35px;
        bottom: 23px;
    }

    .transcript {
        top: 202px;
        left: 300px;
        position: absolute;
        font-size: 20px;
        width: 390px;
        height: 100px;
        z-index: 10;

        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .places-content {
        color: black;
    }

    .budget-text {
        color: black;
        font-size: 30px;
        top: 385px;
        left: 113px;
    }

    .paid-text {
        color: black;
        position: absolute;
        font-family: var(--font-family);
        font-size: 30px;
        top: 510px;
        z-index: 10;
        left: 113px;
    }

    .budget-numbers {
        color: black;
        top: 385px;
        left: 250px;
    }

    .paid-numbers {
        color: black;
        top: 510px;
        left: 250px;
    }

    .budget-place-after {
        font-size: 30px;
    }

    .budget-place-before {
        font-size: 25px;
        margin-top: -10px;
    }

    .paid-place-after {
        font-size: 30px;
    }

    .paid-place-before {
        font-size: 25px;
        margin-top: -10px;
    }
}

@media screen and (min-width: 1200px) {
    .places_image {
        position: relative;
        bottom: 150px;
        width: 1200px;
        height: 850px;
        background-image: var(--places-big-image);
        background-size: 1200px 850px;
        z-index: 1;
        right: 50px;
    }

    .direction-container {
        top: 50px;
        left: 520px;
        width: 550px;
    }

    .direction {
        font-size: 100px;
    }

    .course {
        font-size: 50px;
        bottom: 23px;
    }

    .transcript {
        top: 210px;
        left: 540px;
        font-size: 18px;
        height: 75px;
        width: 510px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .places-content {
        color: black;
    }


    .budget-text {
        color: black;
        font-size: 40px;
        top: 405px;
        left: 280px;
    }

    .paid-text {
        color: black;
        font-size: 40px;
        top: 533px;
        left: 280px;
    }

    .budget-numbers {
        color: black;
        top: 405px;
        left: 480px;
    }

    .paid-numbers {
        color: black;
        top: 533px;
        left: 480px;
    }

    .budget-place-after {
        font-size: 40px;
    }

    .budget-place-before {
        font-size: 30px;
        margin-top: -10px;
    }

    .paid-place-after {
        font-size: 40px;
    }

    .paid-place-before {
        font-size: 30px;
        margin-top: -10px;
    }
}
