@import '/frontend/src/app/globals.css';

/* filter and sorting */

.filters-sorting-sections {
    font-family: var(--font-family);
    flex-direction: row;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    color: var(--text-color);
    line-height: 40px;
}

.filter-section-container {
    display: inline-block;
    margin-right: 24px;
    cursor: pointer;
}

.filter-section {
    flex-direction: row;
    display: flex;
    align-items: center;
}

.filter-title {
    display: inline-block;
    position: relative;
    margin-right: 4px;
    font-size: 14px;
}

.check-mark-container {
    top: -2px;
    display: inline-block;
    position: relative;
    width: 12px;
    height: 8px;
    background-image: var(--check-mark-image);
    background-size: 12px 8px;
}

.sorting-section-container {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.sorting-section {
    flex-direction: row;
    display: flex;
    font-size: 14px;
}

.sorting-title {
    display: inline-block;
    position: relative;
    margin-left: 4px;
    white-space: nowrap;
}

.sorting-image-container {
    display: inline-block;
    position: relative;
    top: 10px;
    width: 18px;
    height: 15px;
    background-image: var(--sorting-image);
    background-size: 18px 15px;
    margin-right: 2px;
}

/* filter and sorting cards */
.filters-card {
    line-height: 32px;
    z-index: 2;
    position: absolute;
    top: 230px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 16px 16px;
    width: 230px;
    box-shadow: 5px 5px 10px var(--color-shadow);
    background-color: var(--text-field-input-color);
    border-radius: 10px;
    font-size: 14px;
}

.sorting-container {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

.sorting-card {
    line-height: 25px;
    z-index: 2;
    margin-right: -17px;
    position: relative;
    left: -12px;
    margin-top: -5px;
    margin-bottom: -143px;
    padding: 16px 16px;
    width: 230px;
    box-shadow: 5px 5px 10px var(--color-shadow);
    background-color: var(--text-field-input-color);
    border-radius: 10px;
    font-family: var(--font-family);
    color: var(--text-color);
}

.custom-checkbox {
    position: absolute;

    z-index: -1;
    opacity: 0;
}

.custom-checkbox + label {
    display: flex;
    align-items: center;
    user-select: none;
}


.custom-checkbox + label::before {
    top: -1px;
    position: relative;
    content: '';
    display: inline-block;
    margin-right: 6px;

    width: 15px;
    height: 15px;
    background-image: var(--checkbox-image);
    background-size: 15px 15px;
}

.custom-checkbox:checked + label::before {
    width: 15px;
    height: 15px;
    background-image: var(--checkbox-check-image);
    background-size: 15px 15px;
}

.sorting-checkbox {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
}

.button {
    margin-top: 5px;
    color: var(--text-direction-color);
    width: 200px;
    height: 30px;
    background-image: var(--button-image);
    background-size: 200px 30px;
    text-align: center;
    font-size: 14px;
}

.button-text {
    position: relative;
    top: 1px;
}

.filter-sorting-cards-content {
    line-height: 25px;
    font-size: 14px;
}

/* radio castom */
.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-radio + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio + label::before {
    top: -1px;
    position: relative;
    content: '';
    display: inline-block;
    margin-right: 5px;
    width: 15px;
    height: 15px;
    background-image: var(--radio-image);
    background-size: 15px 15px;
}

.custom-radio:checked + label::before {
    width: 15px;
    height: 15px;
    background-image: var(--radio-check-image);
    background-size: 15px 15px;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {

    /* filter and sorting */
    .filters-sorting-sections {
        line-height: 40px;
    }

    .filter-title {
        font-size: 18px;
    }

    .check-mark-container {
        width: 14px;
        height: 10px;
        background-size: 14px 10px;
    }

    .sorting-section {
        font-size: 18px;
    }

    .sorting-image-container {
        width: 20px;
        height: 17px;
        background-size: 20px 17px;
    }

    /* filter and sorting cards */
    .filters-card {
        line-height: 35px;
        width: 250px;
        top: 270px;
    }

    .sorting-card {
        left: 0;
        margin-top: -1px;
        margin-bottom: -185px;
        width: 250px;
    }

    .custom-checkbox + label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .custom-checkbox:checked + label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .button {
        width: 220px;
        height: 35px;
        background-size: 220px 35px;
        font-size: 16px;
    }

    .filter-sorting-cards-content {
        line-height: 35px;
        font-size: 16px;
    }

    /* radio castom */
    .custom-radio + label::before {
        top: -1px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }

    .custom-radio:checked + label::before {
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }
}

@media screen and (min-width: 1200px) {


    /* filter and sorting */
    .filters-sorting-sections {
        line-height: 40px;
    }

    .filter-title {
        font-size: 18px;
    }

    .check-mark-container {
        width: 14px;
        height: 10px;
        background-size: 14px 10px;
    }

    .sorting-section {
        font-size: 18px;
    }

    .sorting-image-container {
        width: 20px;
        height: 17px;
        background-size: 20px 17px;
    }

    /* filter and sorting cards */
    .filters-card {
        line-height: 35px;
        width: 250px;
        top: 270px;
    }

    .sorting-card {
        left: 0;
        margin-top: -1px;
        margin-bottom: -185px;
        width: 250px;
    }

    .custom-checkbox + label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .custom-checkbox:checked + label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .button {
        width: 220px;
        height: 35px;
        background-size: 220px 35px;
        font-size: 16px;
    }

    .filter-sorting-cards-content {
        line-height: 35px;
        font-size: 16px;
    }

    /* radio castom */
    .custom-radio + label::before {
        top: -1px;
        margin-right: 5px;
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }

    .custom-radio:checked + label::before {
        width: 15px;
        height: 15px;
        background-size: 15px 15px;
    }
}