@import '/frontend/src/app/globals.css';

.checklists {
    display: flex;
    flex-direction: column;
}

.checklist-container {
    font-family: var(--font-family);
    border-bottom: 2px solid var(--question-border-color);
    margin-left: 16px;
    margin-right: 16px;
    max-width: 75ch;
    margin-bottom: 40px;
    padding-bottom: 24px;
    box-sizing: border-box;
    color: var(--text-color);
}

.checklist-name {
    font-size: 16px;
}

.checklist-content {
    font-size: 14px;
    margin-left: 24px;
}

.requirements-title {
    margin-bottom: -6px;
    color: var(--text-color);
}

.requirements {
    margin-left: 20px;
    margin-bottom: 20px;
}

.requirement {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.requirement-index {
    display: inline-block;
    margin-right: 8px;
}

.requirement-text {
    display: inline-block;
}

.checklist-points {
    margin-left: -16px;
}

.custom-checkbox-cheklist {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox-cheklist + .cheklist-label {
    user-select: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.custom-checkbox-cheklist + .cheklist-label::before {
    top: -1px;
    content: '';
    min-width: 15px;
    min-height: 15px;
    background-image: var(--checkbox-image);
    background-size: 15px 15px;
    display: inline-flex;
    position: relative;
    margin-right: 6px;
}

.custom-checkbox-cheklist:checked + .cheklist-label::before {
    width: 15px;
    height: 15px;
    background-image: var(--checkbox-check-image);
    background-size: 15px;
}

.custom-checkbox-cheklist:checked + .cheklist-label {
    color: var(--checked-checklist-color);
    text-decoration: line-through;
}

.checkbox-cheklist {
    margin-top: 15px;
    margin-left: 16px;
}

.additional-infos {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: 16px;
    flex-wrap: wrap;
    margin-right: 8px;
}

.additional-info {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-bottom: 8px;
}

.additional-image-container {
    width: 30px;
    height: 35px;
    background-image: var(--document-image);
    background-size: 30px 35px;
    display: inline-block;
}

.additional-description {
    margin-top: 5px;
    font-size: 10px;
    display: inline-block;
    max-width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

details.details-checklist-content summary.requirements-title:before {
    content: '+';
    font-size: 20px;
    margin-right: 8px;
}

details[open].details-checklist-content summary.requirements-title:before {
    content: '-';
    font-size: 20px;
    margin-right: 9px;
}

details summary::-webkit-details-marker {
    display: none
}

details > summary {
    list-style: none;
}

details summary.checklist-name:before {
    content: '+';
    font-size: 20px;
    margin-right: 8px;
}

details[open] summary.checklist-name:before {
    content: '-';
    font-size: 20px;
    margin-right: 9px;
}

.general-checklist-container {
    font-family: var(--font-family);
    margin-left: 16px;
    font-size: 16px;
    margin-bottom: 40px;
    color: var(--text-color);
}

.general-checklists {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
    margin-left: 16px;
    margin-top: 10px;
}

.general-checklist {
    display: inline-block;
    font-size: 14px;
    max-width: 75ch;
    margin-bottom: 15px;
}

.footer {
    font-size: 12px;
    font-family: var(--font-family);
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: 60px;
    color: var(--text-color);
}

.tel {
    color: var(--link-color);
}

details.general-checklist-container summary.general-checklist-name:before {
    content: '+';
    font-size: 20px;
    margin-right: 8px;
}

details[open].general-checklist-container summary.general-checklist-name:before {
    content: '-';
    font-size: 20px;
    margin-right: 9px;
}

.step {
    max-width: 75ch;
    word-wrap: break-word;
}

.link-part {
    /*
    text-decoration:underline;
     font-style: italic;
     */
    color: var(--link-color);
    word-wrap: break-word;
}

.final-recommendation {
    margin-top: 10px;
    margin-left: 16px;
}

.final-recommendation-container {
    margin-top: 20px;
}

.addition-to-step {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 6px;
    color: var(--checked-checklist-color);
}

.recommendation-step{
    margin-top: 10px;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .checklist-name {
        font-size: 20px;
    }

    .checklist-content {
        font-size: 16px;
        margin-left: 24px;
        margin-top: 8px;
    }

    .custom-checkbox-cheklist + .cheklist-label::before {
        min-width: 20px;
        min-height: 20px;
        background-size: 20px;
    }

    .custom-checkbox-cheklist:checked + .cheklist-label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .checkbox-cheklist {
        margin-top: 16px;
        margin-left: 16px;
    }

    .requirements {
        margin-bottom: 25px;
    }

    .additional-image-container {
        width: 30px;
        height: 35px;
        background-size: 30px 35px;
    }

    .additional-description {
        font-size: 12px;
    }

    .general-checklist-container {
        font-size: 20px;
    }

    .general-checklist {
        font-size: 16px;
    }

    .footer {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .addition-to-step {
        font-size: 16px;
        margin-left: 24px;
        margin-top: 6px;
    }
}


@media screen and (min-width: 1200px) {
    .checklist-name {
        font-size: 20px;
    }

    .checklist-content {
        font-size: 16px;
        margin-left: 24px;
        margin-top: 8px;
    }

    .custom-checkbox-cheklist + .cheklist-label::before {
        min-width: 20px;
        min-height: 20px;
        background-size: 20px;
    }

    .custom-checkbox-cheklist:checked + .cheklist-label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .checkbox-cheklist {
        margin-top: 16px;
        margin-left: 16px;
    }

    .requirements {
        margin-bottom: 25px;
    }

    .additional-image-container {
        width: 30px;
        height: 35px;
        background-size: 30px 35px;
    }

    .additional-description {
        font-size: 12px;
    }

    .general-checklist-container {
        font-size: 20px;
    }

    .general-checklist {
        font-size: 16px;
    }

    .footer {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .addition-to-step {
        font-size: 16px;
        margin-left: 24px;
        margin-top: 6px;
    }
}
