.requirements-title {
    margin-bottom: -6px;
    color:red;
}

.requirements {
    margin-left: 20px;
}

.requirement {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.requirement-index {
    display: inline-block;
    margin-right: 8px;
}

.requirement-text {
    display: inline-block;

}

.checklist-points {
    margin-left: -16px;
}

.custom-checkbox-cheklist {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox-cheklist + .cheklist-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.custom-checkbox-cheklist + .cheklist-label::before {
    top: -1px;
    position: relative;
    content: '';
    min-width: 15px;
    min-height: 15px;

    background-size: 15px 15px;
    display: inline-flex;
    margin-right: 6px;
}

.custom-checkbox-cheklist:checked + .cheklist-label::before {
    width: 15px;
    height: 15px;

    background-size: 15px;
}

.custom-checkbox-cheklist:checked + .cheklist-label {

    text-decoration: line-through;
}

.checkbox-cheklist {
    margin-top: 8px;
    margin-left: 16px;
}

.additional-infos {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    margin-left: 16px;
    flex-wrap: wrap;
    margin-right: 8px;
}

.additional-info {
    display: flex;
    flex-direction: column;
/*    align-items: start;

 */
    margin-right: 16px;
    margin-bottom: 8px;
}

.additional-image-container {
    width: 30px;
    height: 35px;

    background-size: 30px 35px;
    display: inline-block;
}

.additional-description {
    font-size: 10px;
    display: inline-block;
    max-width: 14ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .custom-checkbox-cheklist + .cheklist-label::before {
        min-width: 20px;
        min-height: 20px;
        background-size: 20px;
    }

    .custom-checkbox-cheklist:checked + .cheklist-label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .checkbox-cheklist {
        margin-top: 16px;
        margin-left: 16px;
    }

    .additional-image-container {
        width: 30px;
        height: 35px;
        background-size: 30px 35px;
    }

    .additional-description {
        font-size: 12px;
        width: 120px;
    }
}

@media screen and (min-width: 1200px) {

    .custom-checkbox-cheklist + .cheklist-label::before {
        min-width: 20px;
        min-height: 20px;
        background-size: 20px;
    }

    .custom-checkbox-cheklist:checked + .cheklist-label::before {
        width: 20px;
        height: 20px;
        background-size: 20px;
    }

    .checkbox-cheklist {
        margin-top: 16px;
        margin-left: 16px;
    }

    .additional-image-container {
        width: 30px;
        height: 35px;
        background-size: 30px 35px;
    }

    .additional-description {
        font-size: 12px;
        width: 120px;
    }
}
