@import '/frontend/src/app/globals.css';

.question-container {
    font-family: var(--font-family);
    border-bottom: 2px solid var(--question-border-color);
    margin-left: 16px;
    margin-right: 16px;
    max-width: 75ch;
    margin-bottom: 40px;
    padding-bottom: 16px;
    box-sizing: border-box;
    color: var(--text-color);
}

.question {
    font-size: 16px;
}

.answer {
    font-size: 14px;
    padding-top: 10px;
}

details summary::-webkit-details-marker {
    display: none
}

details > summary {
    list-style: none;
}

details summary:before {
    content: '+';
    font-size: 20px;
    margin-right: 8px;
}

details[open] summary:before {
    content: '-';
    font-size: 20px;
    margin-right: 9px;
}

.part-answer {
    margin-top: 6px;
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .question {
        font-size: 20px;
    }

    .answer {
        font-size: 16px;
    }

}

@media screen and (min-width: 1200px) {
    .question {
        font-size: 20px;
    }

    .answer {
        font-size: 16px;
    }
}
