@import '/frontend/src/app/globals.css';

@keyframes fade {
    from {
        opacity: 0;
        visibility: hidden;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.header {
    display: flex;
    flex-direction: row;
    height: 32px;
    margin-bottom: 32px;
    margin-top: 20px;
}

.navigation-sections--container {
    display: inline-block;
}

.navigation-sections {
    display: flex;
    flex-direction: row;
    font-family: var(--font-family);
    margin-left: 16px;
}

.navigation-section {
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.navigation-container {
    color: var(--text-color);
    font-size: 14px;
    line-height: 32px;
    white-space: nowrap;
}

.active {
    color: var(--text-direction-color);
    background-image: var(--navigarion-image);
    animation: fade 0.8s ease forwards;
}

.directions {
    background-size: 120px 32px;
    width: 120px;
    text-align: center;
    height: 32px;
}

.checklist, .questions {
    background-size: 90px 32px;
    width: 90px;
    text-align: center;
    height: 32px;
}

.theme-icon {
    width: var(--theme-image-width);
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 16px;
    background-image: var(--theme-image);
    background-size: var(--theme-image-width) 32px;
    cursor: pointer;
    animation: rotate 0.8s ease forwards;
}

.theme-icon-dark, .theme-icon-light {
    width: var(--theme-image-width);
    height: 32px;
    display: inline-block;
    position: absolute;
    right: 16px;
    background-size: var(--theme-image-width) 32px;
    cursor: pointer;
}

.theme-icon-dark {
    animation: rotate-theme-light 0.8s ease forwards;
}

.theme-icon-light {
    animation: rotate-theme-dark 0.8s ease forwards;
}

@keyframes rotate-theme-dark {
    from {
        background-image: var(--theme-image-light);
        transform: rotate(0deg);
    }

    to {
        background-image: var(--theme-image-dark);
        transform: rotate(360deg);
    }
}

@keyframes rotate-theme-light {
    from {
        background-image: var(--theme-image-dark);
        transform: rotate(360deg);
    }

    to {
        background-image: var(--theme-image-light);
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 730px) and (max-width: 1200px) {
    .header {
        height: 40px;
    }

    .navigation-sections {
        margin-left: -8px;
    }

    .navigation-container {
        font-size: 18px;
        line-height: 40px;
        margin-left: 24px;
        height: 40px;
    }

    .directions {
        background-size: 140px 40px;
        width: 140px;
        height: 40px;
    }

    .checklist, .questions {
        background-size: 110px 40px;
        width: 110px;
        height: 40px;
    }

    .theme-icon {
        width: calc(var(--theme-image-width) * 40 / 32);
        height: 40px;
        right: 16px;
        background-size: calc(var(--theme-image-width) * 40 / 32) 40px;
    }

    .theme-icon-dark, .theme-icon-light {
        width: calc(var(--theme-image-width) * 40 / 32);
        height: 40px;
        right: 16px;
        background-size: calc(var(--theme-image-width) * 40 / 32) 40px;
    }
}

@media screen and (min-width: 1200px) {
    .header {
        height: 40px;
    }

    .navigation-sections {
        margin-left: -8px;
    }

    .navigation-container {
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        margin-left: 24px;
    }

    .directions {
        background-size: 140px 40px;
        width: 140px;
        height: 40px;
    }

    .checklist, .questions {
        background-size: 110px 40px;
        width: 110px;
        height: 40px;
    }

    .theme-icon {
        width: calc(var(--theme-image-width) * 40 / 32);
        height: 40px;
        right: 16px;
        background-size: calc(var(--theme-image-width) * 40 / 32) 40px;
    }

    .theme-icon-dark, .theme-icon-light {
        width: calc(var(--theme-image-width) * 40 / 32);
        height: 40px;
        right: 16px;
        background-size: calc(var(--theme-image-width) * 40 / 32) 40px;
    }
}