@import '/frontend/src/app/globals.css';

.price-image {
    width: 370px;
    height: 660px;
    background-image: var(--price-small-image);
    background-size: 370px 660px;
    overflow: hidden;
    position: relative;
    bottom: -1px;
    right: 30px;
}

.price-content {
    color: black;
    font-family: var(--font-family);
}

.price-direction-container {
    position: absolute;
    top: 35px;
    left: 15px;
    display: flex;
    width: 310px;
    justify-content: center;
    z-index: 20;
}

.price-direction-course {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: end;
    align-content: end;
}

.price-direction {
    display: inline-block;
    font-size: 55px;
    z-index: 30;
}

.price-course {
    display: inline-block;
    font-size: 25px;
    z-index: 20;
    position: relative;
    bottom: 15px;
}

.price-transcript {
    position: absolute;
    top: 140px;
    left: 10px;
    font-size: 15px;
    z-index: 20;
    width: 310px;
    height: 80px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.price-numbers {
    color:black;
    position: absolute;
    display: flex;
    top: 280px;
    left: 40px;
    flex-direction: column;
    font-family: var(--font-family);
    z-index: 10;
}

.price-after-container{
    font-size: 25px;
    display: flex;
    flex-direction: row;
}
.currency{
    position: relative;
    top:10px;
}
.price-after {
    display: inline-block;
    font-size: 35px;
}

.price-before {
    display: inline-block;
    color: var(--checked-checklist-color);
    text-decoration: line-through;
    font-size: 30px;
    margin-top: -10px;
}


@media screen and (min-width: 730px) and (max-width: 1200px) {
    .price-image {
        position: relative;
        bottom: -10px;
        right: 60px;
        width: 950px;
        height: 650px;
        background-image: var(--price-midlle-image);
        background-size: 950px 650px;
    }

    .price-direction-container {
        top: 25px;
        left: 70px;
        width: 500px;
    }

    .price-direction {
        font-size: 80px;
    }

    .price-course {
        font-size: 35px;
        bottom: 23px;
    }

    .price-transcript {
        top: 280px;
        left: 50px;
        position: absolute;
        font-size: 20px;
        width: 530px;
        height: 100px;
        z-index: 10;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .price-content {
        color: black;
    }

    .price-numbers {
        color: black;
        top: 505px;
        left: 50px;
    }

    .price-after-container{
        font-size: 25px;
    }
    .currency{
        top:25px;
    }
    .price-after {
        font-size: 50px;
    }

    .price-before {
        font-size: 30px;
        margin-top: -10px;
    }

}

@media screen and (min-width: 1200px) {
    .price-image {
        position: relative;
        bottom: 0;
        width: 1000px;
        height: 650px;
        background-image: var(--price-big-image);
        background-size: 1000px 650px;
        z-index: 1;
        right: 0;
    }

    .price-direction-container {
        top: 20px;
        left: 315px;
        width: 550px;
    }

    .price-direction {
        font-size: 100px;
    }

    .price-course {
        font-size: 50px;
        bottom: 23px;
    }

    .price-transcript {
        top: 340px;
        left: 320px;
        font-size: 18px;
        height: 75px;
        width: 510px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .price-numbers {
        color: black;
        top: 470px;
        left: 60px;
    }

    .price-after-container{
        font-size: 35px;
    }
    .currency{
        top:28px;
    }
    .price-after {
        font-size: 65px;
    }

    .price-before {
        font-size: 45px;
        margin-top: -20px;
    }
}
